.sales-by-gender-main-container {
  margin-top: 10px;
  height: 517px;
  padding: 40px 50px 0 15px;
}

.sales-by-gender-quantity {
  margin-bottom: 60px;
}

.sales-by-gender-quantity-title {
  font-size: 36px;
}

.sales-by-gender-quantity-label {
  color: var(--light-color);
  font-size: 18px;
}

@media (min-width: 576px) {
  .sales-by-gender-main-container {
    margin-top: 40px;
    padding: 40px 50px 0 40px;
  }
}

@media (min-width: 992px) {
  .sales-by-gender-main-container {
    display: flex;
    justify-content: space-between;
    height: 421px;
  }
  .sales-by-gender-quantity {
    margin-top: 180px;
  }
  .pie-chart-container {
    padding-top: 25px;
  }
}

@media (min-width: 1400px) {
  .sales-by-gender-main-container {
    justify-content: space-around;
  }
  .sales-by-gender-quantity-title {
    font-size: 45px;
  }
  .pie-chart-container {
    width: 50%;
  }
}
