@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #d9dbe4;
  --light-color: #8d8d8d;
  --blue-color: #334ac3;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--secondary-color);
  color: var(--blue-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  background-color: var(--primary-color);
  border-radius: 5px;
}
